// variables
$primary_color: #17202a;

html,
body {
	padding: 0;
	margin: 0;
	color: #fff;
	background-color: $primary_color;
}

.movie-detail {
	// grid system
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	grid-template-rows: 1fr;
	grid-column-gap: 3rem;

	.movie-detail__left {
		margin-left: auto;
		margin-right: 0;

		img {
			width: 20rem;
			padding-bottom: 1rem;
		}

		.button-buynow {
			float: right;
		}
	}

	.movie-detail__right {
		padding-right: 30rem;

		// .background-image {
		// 	height: 50rem;
		// 	z-index: -1;
		// 	filter: blur(2px);
		// 	background-repeat: no-repeat;
		// 	background-position: center;
		// 	background-size: cover;
		// }

		&-title {
			font-size: 2rem;
			font-weight: 500;
		}

		&-rating {
			padding: 1.5rem 0;

			.imdb {
				background-color: yellow;
				color: black;
				padding: 0.5rem 0.7rem;
				border-radius: 0.5rem;
			}

			.vote {
				padding-left: 0.5rem;
			}
		}

		&-category {
			.tags {
				display: inline-flex;
			}
		}

		&-description {
			padding-top: 1rem;

			.title {
				padding-bottom: 0.5rem;
				font-size: 1.5rem;
			}

			.overview {
				font-weight: 300;
			}
		}

		&-crew {
			padding-top: 1rem;

			tbody tr {
				td:first-child {
					width: 6rem;
					padding: 0.3rem 0;
				}

				td:nth-child(2) {
					font-weight: 300;
				}
			}
		}
	}
}

.cast-information {
	&__character {
		display: flex;
	}
}
